In [41]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [8]:
priceavg = pd.read_csv("opiadesavg.csv", index_col = 0)

In [9]:
priceavg.head(10)

             price
Country
New Zealand  698.8
Japan        289.0
Finland      166.3
Sweden       162.9
Ireland      155.2
Algeria      126.7
Indonesia    115.0
Latvia       110.9
Denmark      104.1
Norway        99.0

In [11]:
type(priceavg)

pandas.core.frame.DataFrame

In [13]:
priceavg[["price"]]

                                           price
Country
New Zealand                                698.8
Japan                                      289.0
Finland                                    166.3
Sweden                                     162.9
Ireland                                    155.2
Algeria                                    126.7
Indonesia                                  115.0
Latvia                                     110.9
Denmark                                    104.1
Norway                                      99.0
China, Hong Kong SAR                        95.7
China                                       79.7
Morocco                                     77.2
United Kingdom                              76.3
Republic of Korea                           75.8
Thailand                                    73.1
Spain                                       64.3
Switzerland                                 62.0
Luxembourg                                  61.9
Myanmar                                     60.9
Lithuania                                   56.0
Italy                                       53.2
China, Macao SAR                            50.0
Guatemala                                   49.5
Poland                                      45.2
Austria                                     44.3
Liechtenstein                               41.3
Czechia                                     40.7
Saudi Arabia                                40.0
France                                      38.8
Germany                                     35.6
Slovenia                                    33.3
Sri Lanka                                   27.7
Kyrgyzstan                                  25.0
Bulgaria                                    24.9
Belgium                                     24.5
The former Yugoslav Republic of Macedonia   24.4
Colombia                                    24.0
Montenegro                                  22.2
Russian Federation                          21.2
Iran                                        20.0
Greece                                      20.0
South Africa                                19.7
Hungary                                     17.8
United Republic of Tanzania                 13.6
Lebanon                                     10.0
India                                        9.8
Afghanistan                                  4.9
Kenya                                        3.1
Pakistan                                     2.8

In [19]:
priceavg[["price"]].mean(axis = 0)

price    71.966
dtype: float64

In [20]:
np.round(priceavg[["price"]].mean(axis = 0), decimals=2)

price    71.97
dtype: float64

In [17]:
priceavg[["price"]].sum(axis = 0)

price    3598.3
dtype: float64

In [22]:
np.round(priceavg[["price"]].describe(), decimals=2)

        price
count   50.00
mean    71.97
std    104.75
min      2.80
25%     24.10
50%     44.75
75%     76.98
max    698.80

In [23]:
np.round(priceavg[["price"]].median(axis = 0), decimals=2)

price    44.75
dtype: float64

In [28]:
print(priceavg[["price"]].min())

price    2.8
dtype: float64